* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* -------------------------------------------------- */

body {
   font-family: "Lato";
}

.background {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(to bottom, #009688 15%, #dcdbd3 0%);
}

.main-container {
   height: 90%;
   width: 80%;
   background-color: #eaeaea;
}

.container-left {
   height: 100%;
   width: 30%;
   float: left;
   background-color: white;
}

.container-right {
   height: 100%;
   width: 70%;
   float: right;
   background-color: #e5ddd5;
}

.user-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8%;
   width: 100%;
   background-color: #eaeaea;
   padding: 0px 10px;
}

.user {
   display: flex;
   align-items: center;
   height: 100%;
}

.my-avatar {
   height: 70%;
   border-radius: 50%;
}

.user-name {
   margin: 0px 10px;
}

.buttons {
   display: flex;
   justify-content: end;
   cursor: pointer;
}

.buttons i {
   padding: 0px 10px;
   font-size: 20px;
   color: #b1b1b1;
}

.enable-notifications {
   display: flex;
   align-items: center;
   height: 10%;
   width: 100%;
   padding: 0px 10px;
   background-color: #8edafc;
}

.enable-notifications i {
   font-size: 20px;
   color: #8edafc;
   background-color: white;
   border-radius: 50%;
   padding: 12px 10px;
}

.text {
   padding: 10px;
}

.little-text {
   font-size: 14px;
   cursor: pointer;
   text-decoration: underline;
   color: grey;
}

.search {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 5%;
   background-color: #eaeaea;
   /* padding: 0px 10px; */
}

.search-1 {
   height: 70%;
   width: 95%;
   display: flex;
   align-items: center;
   background-color: red;
}

.search-button {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 20%;
   background-color: white;
   /* padding: 8px; */
}

.fa-search {
   color: #b6b9bb;
   cursor: pointer;
}

.search input {
   height: 100%;
   width: 80%;
   /* margin-left: 10px; */
   border: none;
   padding: 0px 10px;
}

.search input:focus-visible {
   outline: none;
}
