* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* -------------------------------------------------- */

body {
   font-family: "Lato";
}

.background {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background: linear-gradient(to bottom, #009688 15%, #dcdbd3 0%);
}

.main-container {
   height: 90%;
   width: 80%;
   background-color: #eaeaea;
}

.container-left {
   height: 100%;
   width: 30%;
   float: left;
   background-color: #8edafc;
}

.container-right {
   height: 100%;
   width: 70%;
   float: right;
   background-color: #e5ddd5;
}

.user-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8%;
   width: 100%;
   background-color: #eaeaea;
   padding: 0px 10px;
}

.user {
   display: flex;
   align-items: center;
   height: 100%;
}

.my-avatar {
   height: 70%;
   border-radius: 50%;
}

.user-name {
   margin: 0px 10px;
}

.buttons {
   display: flex;
   justify-content: end;
   cursor: pointer;
}

.buttons i {
   padding: 0px 10px;
   font-size: 20px;
   color: #b1b1b1;
}
